* {
    margin: 0;
    padding: 0;
    font-family: 'sans-serif'
}

h1 {
    text-align: center;
    margin: 2rem 0;
    margin-top: 3rem;
}

th, td {
    border: 1px solid black;
    padding: 15px;
}

form#expr-input {
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    gap: 8px;
    max-width: 500px;
}

#expr-input input {
    padding: 15px;
    flex: 2;
    border: 1px solid lightgray;
    outline: none;
    border-radius: 5px;
}

#expr-input button {
    padding: 10px 25px;
    background: #712193;
    color: white;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 7px;
}

div#note {
    margin: 2rem auto;
    padding: 20px 35px;
    background: #cbc3e3;
    border: 1px solid purple;
    border-radius: 7px;
    max-width: 500px;
}

ul li {
    margin: 5px 0px;
    color: #1d1d1d;
}

table {
    table-layout: fixed;
    text-align: center;
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
}

button#copy-to-clipboard {
    padding: 10px;
    margin: 2rem 0;
    width: 100%;
}

div#main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    flex-direction: column;
    margin: 2rem auto;
}
